{% extends 'music/base.html' %}

{% block body %}
<img src="{{ album.logo }}">

<h1>{{ album.name }}</h1>
<h3>{{ album.title }}</h3>
<style>
    ul.a{
        list-style-type: circle;
    }

</style>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for Song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ Song.id }}">
        <label for="song{{ forloop.counter }}">
            {{ Song.song_title }}
            {% if Song.favorite %}
                <img src="https://i.imgur.com/b9b13Rd.png"/>
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">

</form>
{% endblock %}
